<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime.Standard" version="4.7.1" targetFramework="net35" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.1" targetFramework="net35" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.1" targetFramework="net35" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.1" targetFramework="net35" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.1" targetFramework="net35" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.1" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net35" />
</packages>